/* ===== Main container ===== */
.container-fluid {
	max-width: 1200px;
}




/* ===== Sidebar ===== */

/* Widget title */
.widget-title {
	text-align: center;
	margin: 10px 0;
}
/* Widget subtitle */
.widget-subtitle {
	text-align: center;
	margin: 10px 0;
}
/* Widget content */
.widget-content {
	margin-bottom: 10px; /* widget title has a 10px margin-top */
}
/* Sponsors list */
.sponsors {
	text-align: center;
	margin: 10px 0;
}
.sponsors img {
	width: 200px;
}





/* ===== Footer ===== */
footer {
    background: none repeat scroll 0 0 #666666;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer a {
	color: #ffffff;
}
.inner-footer {
	padding-left: 20px;
    padding-right: 20px;
}
