/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans-400.woff2) format('woff2');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/open-sans-700.woff2) format('woff2');
}

html, body {
    height: 100%;
    background-color: #FFFFFF;
}

body {
    font-family: "Open Sans", Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

.site-main {
    padding-top: 50px; /* height of header */
    padding-bottom: 100px;
    min-height: 100%;
}

.site-sidebar {
    padding-top: 30px;
}

.list-group-item:first-child,
.list-group-item:last-child,
.panel,
.panel-heading {
    border-radius: 0;
}

.site-page {
    padding: 10px 30px;
}

@media (max-width: 1199px) {
    .site-page {
        padding: 10px 0;
    }
}

.site-page .well {
    border-radius: 0;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 991px) {
    .site-page .well {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.site-page img.logo {
    width: 35%;
}

footer {
    background-color: #E8E5CE;
    color: #686758;
    padding: 15px;
    width: 100%;
    height: 70px;
    position: relative;
    margin-top: -70px;
}
