/* Custom container */
.container-fluid {
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
}  

body {
    position: relative;
    padding-top: 0px;
/*  	font-family: arial,'Microsoft Yahei',微软雅黑,宋体,sans-serif;  */
}

.subnav {
  background-color: #1B1B1B;
  background-image: linear-gradient(to bottom, #222222, #111111);
  
  background-image: -moz-linear-gradient(top, #222222 0%, #111111 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #222222 0%,#111111 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #222222 0%,#111111 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #222222 0%,#111111 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #222222 0%,#111111 100%); /* W3C */
  border-color: #252525;
}

.subnav .nav > li > a {
   color: #ffffff;
   border-radius: 0px;
   color:#999;
   text-shadow:0 -1px 0 rgba(0,0,0,0.25);
   border-right: 0;
   border-left: 0;
}

.subnav .nav>li>a:hover{
   color: #ffffff;
   font-weight:bold;
   background-color: #111111;
}

.subnav-fixed .nav {
    width: 1200px;
}


.main{
   padding-top: 50px;
}

.navbar .brand {
   padding: 8px 20px 12px;
   line-height: 20px
}

h3, h4{
   font-weight: bold;
}

footer{
	padding-top: 20px;
	padding-bottom: 20px;
	background: #666666;
	color: #ffffff;
}

footer p{
	text-align:center;
}

footer h4{
   color: #ffffff;
   margin: 10px 0px;
}

#banner{
  /* background: url("http://pic.yupoo.com/cosname/DBliZPCq/Jr8H4.jpg") center center no-repeat;  */
   /* min-height:500px; */
   height: 500px;
   color: #ffffff;
}

#reg-btn{
  text-align: center;
}

.hero{
  margin-top: 20px;
  margin-left: 20px;
}

.hero h1{
  color: #ffffff;
}

.hero a.btn{
    margin-left: 40px;
}

.select-menu{
	display: block;
	width: 100%;
	background: none repeat scroll 0% 0% #383D45;
	margin: 0px auto;
	float: left;
	border-bottom: 1px solid #242424;
}

.select-menu select{
    display: block;
    margin: 10px auto;	
	width: 30%;
}

td>p:first-child{
  text-align: center;
}

a.more.collapsed {
    display: inline;
}

a.more {
    display: none;
    font-weight: 600;
}

.innerDiv iframe{
 width: 100%;
 height: 220px
}

div.thumbnail{
  border: 0;
  box-shadow: none;
}

.thumbnails h3{
  text-align: center;
}

.row-fluid .info{
  margin-left: 0;
}
 
h3.widget-title{
  text-align: center;
}
.textwidget ul{  
  margin: 0;
}

.textwidget ul li {
    text-align: center;
    padding: 5px 0px 0px;
	list-style-type: none;
}


/* Getting started example */
#getting-started{
    margin-top: 20px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    border: 0px solid #cccccc;
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
}
#getting-started span{
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    background-color: #333333;
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    padding: 5px;
}


/* 自定义部分-yixuan */
.row-fluid .conf-logo {
    width: 40%;
}

footer a {
    color: #FFFFFF;
}

.innerFooter{
  padding-left: 20px;
  padding-right: 20px;
} 

.affix {
    top: 50px;
	width: 23.0769%;
}

#overview{ 
  background-color: #666666;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-image: url('http://www.ruc.edu.cn/wp-content/themes/rucweb/images/ruc_bg_40.jpg'); */
}

.thumbnails p{
 text-align: center;
}


.company{
  width: 100%;
  clear:both;
  margin-left: auto;
  margin-right: auto;
}

.com-logo{
 float: left;
 clear:left; 
 width: 30%;
}

.com-intro{
 float: left;
 margin-left: 2%;
 clear: right; 
 width: 68%;
}
.com-intro h3{ text-transform: none; }

.margin-top-20{
  margin-top: 20px;
}
.sponsors{
  margin-top:20px;
}

@media screen and (max-width:767px){  
    .com-logo{
     width: 100%;
    }

    .com-intro{
     width: 100%;
    }  

}

/**/

/* 大屏幕 */
@media (min-width: 1200px) {


}

@media (max-width: 1200px) {
   body{
   padding-left: 20px;
	 padding-right: 20px;
   }
   
   	footer, #overview{
      margin-left: -20px;
	  margin-right: -20px
    }	
}

@media (min-width: 978px) and (max-width: 1200px) {

}

@media (max-width: 979px) {
	
   
    .innerDiv{
		width:300px;margin:10px auto;overflow:hidden
	}	

	.innerDiv iframe{
	   margin-left: -400px;
	   width: 700px;
	   height: 170px
	}
	
	.sidebar{ margin-top: 10px;}
	
}
 
/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {

}

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {

   #banner{ height: 400px;}
   #sponsors, .map, .thumbnail p, footer{
		text-align: center;
	}
	
	.thumbnail{
	   border: 0;	   
	}
	
a.thumbnail:hover,a.thumbnail:focus{border:0;-webkit-box-shadow:0;-moz-box-shadow:0;box-shadow:0;}

/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) { 
	#header-logo h1 {
		background-position: center top;
	}
	.jumbotron .btn {
		width: 30%;
	}

}
