/* ===== Global setting ===== */
html {
	font-size: 16px; /* Bootstrap sets this to 10px, too small */
}
/* "Show details" */
a.more.collapsed {
    display: inline;
}
a.more {
    display: none;
}





/* ===== Container ===== */
.container-fluid {
	max-width: 1200px;
}





/* ===== Header ===== */
#page-banner {
    color: #ffffff;
    height: 450px;
}
/* Countdown */
#banner-countdown {
    border: 0 solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}
#banner-countdown span {
    background-color: #333333;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    padding: 5px;
}



/* ===== Sidebar ===== */
/* Widget title */
.widget-title {
	text-align: center;
	margin: 10px 0;
}
/* Widget subtitle */
.widget-subtitle {
	text-align: center;
	margin: 10px 0;
}
/* Widget content */
.widget-content {
	margin-bottom: 10px; /* widget title has a 10px margin-top */
}
/* Sponsors list */
.sponsors, .hosts {
	text-align: center;
	margin: 10px 0;
}
.sponsors img, .hosts img {
	width: 200px;
}





/* ===== Footer ===== */
footer {
    background: none repeat scroll 0 0 #666666;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer a {
	color: #ffffff;
}
.inner-footer {
	padding-left: 20px;
    padding-right: 20px;
}
