<script type="text/javascript">
  function adjustBanner(){
     $("#overview").css("background-color","#ffffff");
  } 
   
   
$(document).ready(function(){ 
   var hour = new Date().getHours();
   if(hour < 12) {
      $("#overview").css({"background-image":"url('/img/header_bg_zhongshan.jpg')", "background-position": "bottom center"}); 
   }else{
      $("#overview").css({"background-image":"url('/img/header_bg_zhongshan.jpg')", "background-position": "bottom left"}); 
   }

   $('#overview').css({"background-attachment": "inherit"});
   //$("#overview").css({"background-size": "80% 80%"});

   
  //setInterval(adjustBanner, 2000);  
  setTimeout(adjustBanner, 2000);   
   
})
</script>
