<script type="text/javascript">
  function adjustBanner(){
     $("#overview").css("background-color","#ffffff");
  } 
   
   
$(document).ready(function(){ 
   var hour = new Date().getHours();
   if(hour < 12) {
      $("#overview").css({"background-image":"url('http://news.ecnu.edu.cn/_upload/article/56/08/9897b574441da227f5c3366606db/3e7d9c82-978c-43fa-9362-ba39676db9e1.jpg')", "background-position": "bottom center"}); 
   }else{
      $("#overview").css({"background-image":"url('http://news.ecnu.edu.cn/_upload/article/56/08/9897b574441da227f5c3366606db/3e7d9c82-978c-43fa-9362-ba39676db9e1.jpg')", "background-position": "bottom left"}); 
   }

   $('#overview').css({"background-attachment": "inherit"});
   //$("#overview").css({"background-size": "80% 80%"});

   
  //setInterval(adjustBanner, 2000);  
  setTimeout(adjustBanner, 2000);   
   
})
</script>
