<script type="text/javascript">
  function adjustBanner() {
    $("#overview").css("background-color", "#ffffff");
  }

  $(document).ready(function() {
    var hour = new Date().getHours();
    if (hour < 12) {
      $("#overview").css({
        /* image origin: http://www.jxhaof.com/uploadfile/2013/1203/20131203091822863.jpg */
        "background-image": "url('img/nanchang_dusk.jpg')",
        "background-position": "center top",
        "background-repeat": "no-repeat"
      });
    } else {
      $("#overview").css({
        /* image origin: http://www.jxhaof.com/uploadfile/2013/1203/20131203091822863.jpg */
        "background-image": "url('img/nanchang_dusk.jpg')",
        "background-position": "center top",
        "background-repeat": "no-repeat"
      });
    }

    $('#overview').css({
      "background-attachment": "inherit"
    });
    //$("#overview").css({"background-size": "80% 80%"});

    //setInterval(adjustBanner, 2000);
    setTimeout(adjustBanner, 2000);
  })
</script>
