<footer>
    <div class="innerFooter">
	  <div class="container{%if site.fluid-layout %}-fluid{%endif%}">
	  <div class="row-fluid">
	  <div class="span3">
	    <h4>关于我们</h4>
      <ul>
        <li><a href="http://cos.name/about">关于统计之都</a></li>
        <li><a href="http://cos.name/2008/11/how-to-work-with-cos/">加入我们</a></li>
      </ul>
	  </div>
	  <div class="span3 hidden-phone">
	    <h4>官方微信</h4>
		<img style="width:86px" src="/img/qrcode-8cm.jpg" alt="">
	  </div>
	  <div class="span3 hidden-phone">
	    <h4>官方微博</h4>
		 <iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=100&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1869170057&verifier=44dd67f8&colors=d6f3f7,666666,666666,0082cb,ecfbfd&dpc=1"></iframe>

	  </div>
	  
	  <div class="span3">
	    <p>©统计之都 2014</p>
	  </div>
	  
	  </div>
	  
	</div>
  </div>
</footer>