<footer>

  <div class="container">
		<div class="row">

      <div class="col-md-4 text-center">
        <h4>关于我们</h4>
        <p><a href="http://cos.name/about">关于统计之都</a></p>
        <p><a href="http://cos.name/2008/11/how-to-work-with-cos/">加入我们</a></p>
      </div>

     <div class="col-md-4 text-center">
       <h4>官方微信</h4>
       <img width="100px" src="{{ '/img/qrcode-8cm.jpg' | prepend: site.baseurl }}" alt="QR code">
     </div>

     <div class="col-md-4 text-center">
       <h4>官方微博</h4>
       <iframe width="300" height="200" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=300&height=200&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1869170057&verifier=44dd67f8&dpc=1"></iframe>
     </div>

    </div>
  </div>


  <div id="sub-footer">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="copyright">
            <p>© 统计之都 2016</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="copyright">
            <p class="text-right">主题修改自 <a href="http://bootstraptaste.com/sailor-free-bootstrap-theme/">Sailor</a> - <a href="http://bootstraptaste.com/">Bootstrap Themes</a> by BootstrapTaste</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</footer>
