<header>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
          <img src="{{ '/img/logo-chinar.png' | prepend: site.baseurl }}" alt="China-R" height="60" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="{{ '/' | prepend: site.baseurl }}">首页</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
              最新 <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ '/bj2017/index.html' | prepend: site.baseurl }}">2017北京会场</a></li>
              <li><a href="{{ '/hefei2017/index.html' | prepend: site.baseurl }}">2017合肥会场</a></li>
            </ul>
          </li>
          <li><a href="{{ '/history.html' | prepend: site.baseurl }}">历史</a></li>
        </ul>
      </div>

    </div>
  </nav>

</header>
