<header>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
          <img src="{{ '/img/logo-chinar.png' | prepend: site.baseurl }}" alt="China-R" height="60" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="{{ '/'                  | prepend: site.baseurl }}">首页</a></li>
          <li><a href="{{ '/bj2016/index.html' | prepend: site.baseurl }}">最新</a></li>
          <li><a href="{{ '/history.html'      | prepend: site.baseurl }}">历史</a></li>
        </ul>
      </div>

    </div>
  </nav>

</header>
