<div class="widget">
  <h3 class="widgetheading">导航</h3>
  <ul class="cat">
    <li>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <a href="http://china-r-12th-abstract.eventdove.com/" >演讲者报名</a>
    </li>
    <li>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <a href="https://www.bagevent.com/event/2615792">参会者报名</a>
    </li>
    <li>
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
      <a href="{{ '/bj2019/agenda.html' | prepend: site.baseurl }}">会议日程</a>
    </li>
    <li>
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
      <a href="{{ '/bj2019/lectures.html' | prepend: site.baseurl }}">演讲信息</a>
    </li>
  </ul>
</div>
