<div class="widget">
  <h3 class="widgetheading">导航</h3>
  <ul class="cat">
    <li>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <a href="http://china-r-beijing2016-1.eventdove.com/" >参会注册</a>
    </li>
    <li>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <a href="{{ '/bj2016/index.html' | prepend: site.baseurl }}">会议概况</a>
    </li>
    <li>
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
      <a href="{{ '/bj2016/agenda.html' | prepend: site.baseurl }}">会议日程</a>
    </li>
    <li>
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
      <a href="{{ '/bj2016/lectures.html' | prepend: site.baseurl }}">演讲信息</a>
    </li>
    <li>
      <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
      <a href="{{ '/bj2016/hosts.html' | prepend: site.baseurl }}">主办机构</a>
    </li>
  </ul>
</div>
