<div id="sponsors">

<!--
	已经将Sponsors 部分迁移至右侧边栏 sidebar.html
	<h3>赞助单位</h3>
	<div class="row-fluid">

				<div class="span3">
					<a href="http://supstat.com/cn" title="SupStat Inc." target="_blank"><img src="/img/logo-supstat.png" alt="SupStat Inc."></a>

				</div>
			
				<div class="span3">
					<a href="http://www.revolutionanalytics.com/" title="Revolution Analytics" target="_blank"><img src="/img/logo-revo.png" alt="Revolution Analytics"></a>

				</div>

				<div class="span3">
					<a href="http://rstudio.com" title="RStudio" target="_blank"><img src="/img/logo-rstudio.png" alt="RStudio"></a>
		    
		        </div>
		     		<div class="span3">
					<a href="http://www.1degreenorth.com/" target="_blank"><img src=" http://www.1degreenorth.com/sites/g/files/g937076/themes/mythemes/acq_my_theme/images/1DN_New_logo_mid.png" alt="1northdegree"></a>

				</div>
   
		        
		        
	</div>
	
-->
</div>
