---
layout: gz-index
---

<div class="row">

  <div class="col-md-7">
    <h2>最新信息</h2>
    中国R语言（广州）会议暨华南地区数据科学会议
    <br /> 时间：2015年5月23日~24日
    <br /> 地点：中山大学梁銶琚堂
    <br />
    主办方：
    <br />
    <ul>
    <li><a href="http://scrcss.sysu.edu.cn/" target="_blank">华南统计科学研究中心</a></li>
	<li><a href="http://math.sysu.edu.cn/" target="_blank">中山大学数学与计算科学学院</a></li>
    <li><a href="http://cos.name/" target="_blank">统计之都</a></li>
    </ul>
  </div>

  <div class="col-md-5 text-center">
    <img src="/img/China-R-Logo-300x192.png" alt="">
  </div>

</div>


{% for post in site.posts %}
    {% if post.title contains '广州' %}

    {{ post.content | split: '<!-- more -->' | first }}
    <p style="text-align:center"><a class="btn btn-primary" href="{{ post.url }}">阅读全文→</a></p>

    {% break %}
    {% endif %}
{% endfor %}
