<h3>上午</h3>

<table class="table table-bordered table-striped">
    <tbody>
        <tr class="success">
            <td width="147" valign="top">
                <p align="left">
                    时间
                </p>
            </td>
            <td width="142" valign="top">
                <p align="left">
                    演讲嘉宾
                </p>
            </td>
            <td width="142" valign="top">
                <p align="left">
                    嘉宾简介
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    主题
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    9:00 – 9:30
                </p>
            </td>
            <td width="421" colspan="3" valign="top">
                <p align="left">
                    欢迎仪式 - 闵万里 阿里巴巴数据技术与产品部负责人
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    9:30 – 10:00
                </p>
            </td>
            <td width="142" valign="top">
                <p align="left">
                    曹恒
                </p>
            </td>
            <td width="142" valign="top">
                <p align="left">
                    IBM中国研究院上海分院院长
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    从大数据分析迈向认知计算的应用实践
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    10:02 – 10:32
                </p>
            </td>
            <td width="142" valign="top">
                <p align="left">
                    林智仁
                </p>
            </td>
            <td width="142" valign="top">
                <p align="left">
                    台湾国立大学特聘教授
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    Big-data Machine Learning: Status and Challenges
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    10:35 – 10:50
                </p>
            </td>
            <td width="421" colspan="3" valign="top">
                <p align="left">
                    茶歇
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    10:50 – 11:20
                </p>
            </td>
            <td width="142" valign="top">
                <p align="left">
                    郑光甫
                </p>
            </td>
            <td width="142" valign="top">
                <p align="left">
                    台北医学大学生物统计中心主任，原仼台湾中央大学副校长
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    医疗大数据的云应用
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    11:22 – 11:55
                </p>
            </td>
            <td width="142" valign="top">
                <p align="left">
                    陈景祥
                </p>
            </td>
            <td width="142" valign="top">
                <p align="left">
                    台湾淡江大学统计系教授，中华R软件开发与应用协会秘书长
                </p>
            </td>
            <td width="138" valign="top">
                <p align="center">
                    R语言与大数据云端运算
                </p>
            </td>
        </tr>
    </tbody>
</table>

<h3>下午 Track A – 数据，R和工业应用</h3>

<table class="table table-bordered table-striped">
    <tbody>
        <tr class="success">
            <td width="147" valign="top">
                <p align="left">
                    时间
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    演讲嘉宾
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    嘉宾简介
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    主题
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    1:30 – 2:15
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    林祯舜
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    先锋信息科技/辰智咨询
                </p>
                <p align="left">
                    数据科学家
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    R-web-大型多人在线数据分析协作平台
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    2:20 – 3:05
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    林倩莹
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    SupStat数据科学家
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    电信行业用户稳定性与用户特征的双向分析
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    3:10 – 3:55
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    王勇
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    天猫技术部，搜索研发专家
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    Learning To Rank in Tmall Search
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    4:00 – 4:45
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    李博
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    天猫技术部，数据挖掘团队
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                  用算法驱动业务——天猫超市数据化运营初探
                </p>
            </td>
        </tr>
    </tbody>
</table>

<h3>下午 Track B – R工程开发</h3>

<table class="table table-bordered table-striped">
    <tbody>
        <tr class="success">
              <td width="147" valign="top">
                <p align="left">
                    时间
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    演讲嘉宾
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    嘉宾简介
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    主题
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    1:30 – 2:15
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    朱剑锋
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    京东高级算法工程师
                </p>
            </td>
            <td width="138" valign="top">
                <p align="center">
                    大规模CTR预测系统在推荐中的应用
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    2:20 – 3:05
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    魏太云
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    统计之都现任理事会主席
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    R中的数据可视化
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    3:10 – 3:55
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    李舰
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    Mango Solutions公司 首席顾问
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    R工程开发
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    4:00 – 4:45
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    许亮
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    天猫数据产品专家
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    母婴潜客挖掘的数据之法
                </p>
            </td>
        </tr>
    </tbody>
</table>

<h3>下午 Track C – 用R进行数据产品开发全体验</h3>

<table class="table table-bordered table-striped">
    <tbody>
        <tr class="success">
             <td width="147" valign="top">
                <p align="left">
                    时间
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    演讲嘉宾
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    嘉宾简介
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    主题
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    1:30 – 2:15
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    陈逸波&amp;郝智恒
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    阿里巴巴数据技术产品部，资深数据挖掘工程师
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    分析师们用得着的R包
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    2:20 – 3:05
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    周扬
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    J.D.Power数据分析师
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    用node.js 和 R 集成开发数据产品原型
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    3:10 – 3:55
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    周宁奕
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    淘宝数据平台
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    基于地图的数据可视展现
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p align="left">
                    4:00 – 4:45
                </p>
            </td>
            <td width="87" valign="top">
                <p align="left">
                    郎大为
                </p>
            </td>
            <td width="196" valign="top">
                <p align="left">
                    <a href="http://supstat.com.cn">supstat</a>数据科学家
                </p>
            </td>
            <td width="138" valign="top">
                <p align="left">
                    地图可视化中的数据挖掘
                </p>
            </td>
        </tr>
    </tbody>
</table>

