<h3 id="section">1.	日程安排</h3>

<p>12月6日	注册和报告	华东师大中山北路校区，科学会堂</p>

<p>12月7日	报告和讨论	华东师大中山北路校区，科学会堂</p>

<h3 id="section-1">2. 会议议程</h3>

<p><strong>12月6日</strong></p>

<table class="table table-bordered">
  <tbody>
    <tr class="success">
      <th width="113">
        时间
      </th>
      <th width="265">
        内容
      </th>
      <th width="113">
        嘉宾
      </th>
      <th width="62">
        主持人
      </th>
    </tr>
    <tr>
      <td width="113">
        09:00-09:20
      </td>
      <td width="265">
        会议致辞
      </td>
      <td width="113">
        汤银才
      </td>
      <td rowspan="3" width="62">
        林祯舜
      </td>
    </tr>
    <tr>
      <td width="113">
        09:20-09:50
      </td>
      <td width="265">
        R语言在推荐系统中的应用
      </td>
      <td width="113">
        刘思喆
      </td>
    </tr>
    <tr>
      <td width="113">
        09:50-10:20
      </td>
      <td width="265">
        GrowthHacker的R工具箱
      </td>
      <td width="113">
        张翔
      </td>
    </tr>
    <tr>
      <td width="113">
        10:20-10:45
      </td>
      <td colspan="3" width="440">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        10:45-11:15
      </td>
      <td width="265">
        数据科学中的R语言
      </td>
      <td width="113">
        肖凯
      </td>
      <td rowspan="2" width="62">
        李舰
      </td>
    </tr>
    <tr>
      <td width="113">
        11:15-11:45
      </td>
      <td width="265">
        新药研发中的建模和模拟（M&amp;S）
      </td>
      <td width="113">
        杨环
      </td>
    </tr>
    <tr>
      <td colspan="4" width="553">
        <p align="center">午餐时间</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        13:30-14:00
      </td>
      <td width="265">
        Lightning Talk
      </td>
      <td width="113">
        李颖、王功瑾等
      </td>
      <td rowspan="3" width="62">
        张翔
      </td>
    </tr>
    <tr>
      <td width="113">
        14:00-14:30
      </td>
      <td width="265">
        一个数据分析师的入门与成长
      </td>
      <td width="113">
        任华
      </td>
    </tr>
    <tr>
      <td width="113">
        14:30-15:00
      </td>
      <td width="265">
        网站实验设计框架与实战
      </td>
      <td width="113">
        陈丽云
      </td>
 
    </tr>
    <tr>
      <td width="113">
        15:00-15:20
      </td>
      <td colspan="3" width="440">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        15:20-15:50
      </td>
      <td width="265">
        基于R的三维人脸绘图系统以及利用R实现三维人脸预测人的性格
      </td>
      <td width="113">
        呼思乐
      </td>
      <td rowspan="3" width="62">
        魏太云
      </td>
    </tr>
    <tr>
      <td width="113">
        15:50-16:20
      </td>
      <td width="265">
        空气污染与R
      </td>
      <td width="113">
        张兵
      </td>
    </tr>
    
    <tr>
     <td width="113">
        16:20-16:50
      </td>
      <td width="265">
        利用R与nodejs实现可视分析工具
      </td>
      <td width="113">
        周扬
      </td>
      </tr>

  </tbody>
</table>

<p><strong>12月7日</strong></p>

<table class="table table-bordered">
  <tbody>
    <tr class="success">
      <td width="113">
        时间
      </td>
      <td width="265">
        内容
      </td>
      <td width="113">
        嘉宾
      </td>
      <td width="62">
        主持人
      </td>
    </tr>
    <tr>
      <td width="113">
        09:00-09:20
      </td>
      <td width="265">
        客户账户分析方法：用R实现建模
      </td>
      <td width="113">
        石宏飞
      </td>
      <td rowspan="3" width="62">
        陈丽云
      </td>
    </tr>
    <tr>
      <td width="113">
        09:20-09:50
      </td>
      <td width="265">
        互联网金融大数据与风险
      </td>
      <td width="113">
        张云松
      </td>
    </tr>
    <tr>
      <td width="113">
        09:50-10:20
      </td>
      <td width="265">
        基于R语言的投资监控平台之构建
      </td>
      <td width="113">
        邓一硕
      </td>
    </tr>
    <tr>
      <td width="113">
        10:20-10:45
      </td>
      <td colspan="3" width="440">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        10:45-11:15
      </td>
      <td width="265">
        电商数据化运营中的网站竞争分析
      </td>
      <td width="113">
        肖嘉敏
      </td>
      <td rowspan="2" width="62">
        蔡锐
      </td>
    </tr>
    <tr>
      <td width="113">
        11:15-11:45
      </td>
      <td width="265">
        R-web：大型多人在线数据分析协作平台
      </td>
      <td width="113">
        林祯舜
      </td>     
    </tr>
    <tr>
      <td colspan="4" width="553">
        <p align="center">午餐时间</p>
      </td>
    </tr>
    <tr>
    
      <td width="113">
        13:30-14:00
      </td>
      <td width="265">
        dplyr包：高效数据清理
      </td>
      <td width="113">
        郎大为
      </td>
    
      
      <td rowspan="3" width="62">
        邓一硕
      </td>
    </tr>
    <tr>
      <td width="113">
        14:00-14:30
      </td>
      <td width="265">
        用R+shiny+rCharts快速打造数据产品
      </td>
      <td width="113">
        李殷皓
      </td>
    </tr>
    <tr>
      <td width="113">
        14:30-15:00
      </td>
      <td width="265">
        基于rpanel包构建图形用户界面
      </td>
      <td width="113">
        练勇强
      </td>
    </tr>
    <tr>
      <td width="113">
        15:00-15:20
      </td>
      <td colspan="3" width="440">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        15:20-15:50
      </td>
      <td width="265">
        绘制地图的另一个选择：baidumap
      </td>
      <td width="113">
        杜亚磊
      </td>
      <td rowspan="2" width="62">
        周扬
      </td>
    </tr>
    <tr>
      <td width="113">
        15:50-16:20
      </td>
      <td width="265">
        地理信息与基于位置的服务
      </td>
      <td width="113">
        李舰
      </td>
    </tr>
  </tbody>
</table>