<h3>上午</h3>

<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="147" valign="top">
                <p>
                    时间
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    演讲嘉宾
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    嘉宾简介
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    主题
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    9:00 – 9:30
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    车品觉
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    阿里巴巴集团副总裁/ 数据委员会会长
                </p>
            </td>
            <td width="138" valign="top">
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    9:40 – 10:10
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    叶亚明
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    携程技术副总裁
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    R在OTA商业中的应用<a name="_GoBack"></a>
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    10:20 – 10:50
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    林智仁
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    台湾国立大学特聘教授
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    Big-data Machine Learning: Status and Challenges
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    11:00 – 11:30
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    郑光甫
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    台湾中央大学前任福校长，现任台北医学大学生物统计中心主任，中华R软件开发与应用协会会长
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    醫療大數據的雲應用
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    11:40 – 12:10
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    曹恒
                </p>
            </td>
            <td width="142" valign="top">
                <p>
                    IBM中国研究院上海分院院长
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    从大数据分析迈向认知计算的应用实践
                </p>
            </td>
        </tr>
    </tbody>
</table>

<h3>下午 Track A – 数据，R和工业应用</h3>

<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="147" valign="top">
                <p>
                    时间
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    演讲嘉宾
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    嘉宾简介
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    主题
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    1:30 – 2:15
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    林祯舜
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    先锋信息科技/辰智咨询
                </p>
                <p>
                    数据科学家
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    R-web-大型多人在线数据分析协作平台
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    2:20 – 3:05
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    李博
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    天猫技术部，数据挖掘团队
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    用算法驱动业务--天猫超市数据化运营初探
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    3:10 – 3:55
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    王勇
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    天猫技术部，搜索研发专家
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    Learning To Rank in Tmall Search
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    4:00 – 4:45
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    林倩莹
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    supstat数据科学家
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    基于R语言的电信用户数据挖掘应用
                </p>
            </td>
        </tr>
    </tbody>
</table>

<h3>下午 Track B – R工程开发</h3>

<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="147" valign="top">
                <p>
                    时间
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    演讲嘉宾
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    嘉宾简介
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    主题
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    1:30 – 2:15
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    陈景祥
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    台湾淡江大学统计系教授，中华R软件开发与应用协会秘书长
                </p>
            </td>
            <td width="138" valign="top">
                <p align="center">
                    R语言与大数据云端运算
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    2:20 – 3:05
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    朱剑锋
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    京东高级算法工程师
                </p>
            </td>
            <td width="138" valign="top">
                <p align="center">
                    大规模CTR预测系统在推荐中的应用
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    3:10 – 3:55
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    李舰
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    Mango Solutions公司 首席顾问
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    R工程开发
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    4:00 – 4:45
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    许亮
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    天猫数据产品专家
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    母婴潜客挖掘的数据之法
                </p>
            </td>
        </tr>
    </tbody>
</table>

<h3>下午 Track C – 用R进行数据产品开发全体验</h3>

<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="147" valign="top">
                <p>
                    时间
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    演讲嘉宾
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    嘉宾简介
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    主题
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    1:30 – 2:15
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    子豹，授武
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    阿里巴巴数据技术产品部，资深数据挖掘工程师
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    分析师们用得着的R包
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    2:20 – 3:05
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    周扬
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    著名开源可视化工具rECharts作者
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    用node.js 和 R 集成开发数据产品原型
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    3:10 – 3:55
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    周宁奕
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    淘宝数据平台
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    基于地图的数据可视展现
                </p>
            </td>
        </tr>
        <tr>
            <td width="147" valign="top">
                <p>
                    4:00 – 4:45
                </p>
            </td>
            <td width="87" valign="top">
                <p>
                    郎大为
                </p>
            </td>
            <td width="196" valign="top">
                <p>
                    supstat数据科学家
                </p>
            </td>
            <td width="138" valign="top">
                <p>
                    地图可视化中的数据挖掘
                </p>
            </td>
        </tr>
    </tbody>
</table>

