<h3 id="section">1. 日程安排</h3>

<p>6月6日，注册和报告，北京大学邱德拔体育馆</p>

<p>6月7日，报告和讨论，北京大学</p>

<h3 id="section-1">2. 会议议程</h3>

<p>
  <strong>6月6日</strong>
</p>

<table class="table table-bordered">
  <tbody>
    <tr class="success">
      <th width="113">
        时间
      </th>
      <th width="265">
        内容
      </th>
      <th width="113">
        嘉宾
      </th>
      <th width="62">
        主持人
      </th>
    </tr>
    <tr>
      <td width="113">
        09:00-09:20
      </td>
      <td width="265">
        会议致辞
      </td>
      <td width="113">
        会议主席
      </td>
      <td rowspan="3" width="62">
        主持人
      </td>
    </tr>
    <tr>
      <td width="113">
        09:20-09:50
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>
    <tr>
      <td width="113">
        09:50-10:20
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>
    <tr>
      <td width="113">
        10:20-10:45
      </td>
      <td colspan="3" width="440">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        10:45-11:15
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
      <td rowspan="2" width="62">
        主持人
      </td>
    </tr>
    <tr>
      <td width="113">
        11:15-11:45
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>
    <tr>
      <td colspan="4" width="553">
        <p align="center">午餐时间</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        13:30-14:00
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
      <td rowspan="3" width="62">
        主持人
      </td>
    </tr>
    <tr>
      <td width="113">
        14:00-14:30
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>
    <tr>
      <td width="113">
        14:30-15:00
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>

    </tr>
    <tr>
      <td width="113">
        15:00-15:20
      </td>
      <td colspan="3" width="440">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        15:20-15:50
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
      <td rowspan="3" width="62">
        主持人
      </td>
    </tr>
    <tr>
      <td width="113">
        15:50-16:20
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>

    <tr>
      <td width="113">
        16:20-16:50
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>

  </tbody>
</table>

<p>
  <strong>12月7日</strong>
</p>

<table class="table table-bordered">
  <tbody>
    <tr class="success">
      <td width="113">
        时间
      </td>
      <td width="265">
        内容
      </td>
      <td width="113">
        嘉宾
      </td>
      <td width="62">
        主持人
      </td>
    </tr>
    <tr>
      <td width="113">
        09:00-09:20
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
      <td rowspan="3" width="62">
        主持人
      </td>
    </tr>
    <tr>
      <td width="113">
        09:20-09:50
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>
    <tr>
      <td width="113">
        09:50-10:20
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>
    <tr>
      <td width="113">
        10:20-10:45
      </td>
      <td colspan="3" width="440">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        10:45-11:15
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
      <td rowspan="2" width="62">
        主持人
      </td>
    </tr>
    <tr>
      <td width="113">
        11:15-11:45
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>
    <tr>
      <td colspan="4" width="553">
        <p align="center">午餐时间</p>
      </td>
    </tr>
    <tr>

      <td width="113">
        13:30-14:00
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>


      <td rowspan="3" width="62">
        主持人
      </td>
    </tr>
    <tr>
      <td width="113">
        14:00-14:30
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>
    <tr>
      <td width="113">
        14:30-15:00
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>
    <tr>
      <td width="113">
        15:00-15:20
      </td>
      <td colspan="3" width="440">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        15:20-15:50
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
      <td rowspan="2" width="62">
        主持人
      </td>
    </tr>
    <tr>
      <td width="113">
        15:50-16:20
      </td>
      <td width="265">
        演讲主题
      </td>
      <td width="113">
        演讲者
      </td>
    </tr>
  </tbody>
</table>
