<h3 id="section">1. 日程安排</h3>

<p>6月6日，注册和报告，北京大学邱德拔体育馆</p>

<p>6月7日，报告和讨论，北京大学</p>

<h3 id="section-1">2. 会议议程</h3>

<p>
  <strong>6月6日</strong>
</p>
<table cellpadding="0" cellspacing="0" width="670" align="left">
<colgroup>
	<col width="147" style="width:147px">
	<col width="343" style=";width:343px">
	<col width="179" style=";width:179px">
</colgroup>

<tbody>
	
	<tr height="22" style="height:22px">
			<td colspan="3" height="22" width="327" style="background-color: rgb(141, 179, 226); " align="center" valign="middle">
				<span style="color: rgb(255, 255, 255); ">开幕式</span>
			</td>
	</tr>
		
		
	<tr height="43" style="height:43px;box-sizing: border-box">
			<td height="43" width="72" style="border-top-style: none; box-sizing: border-box; " align="center" valign="middle">
				07:30-08:20
			</td>
			<td colspan="2" width="255" style="border-right-width: 1px; border-left-style: none; box-sizing: border-box; " align="center" valign="middle">
				参会者入场
			</td>
	</tr>
		
	<tr height="43" style="height:43px;box-sizing: border-box">
			<td height="43" width="72" style="border-top-style: none; box-sizing: border-box; " align="center" valign="middle">
				08:30-08:35
			</td>
			<td colspan="2" width="255" style="border-right-width: 1px; border-left-style: none; box-sizing: border-box; " align="center" valign="middle">
			大会主席介绍会议
			</td>
	</tr>
		
	<tr height="43" style="height:43px">
			<td height="43" width="72" style="border-top-style: none; " align="center" valign="middle">
				08:35-08:45
			</td>
			<td colspan="2" width="255" style="border-right-width: 1px; border-left-style: none; " align="center" valign="middle">
				光华管理学院蔡洪滨院长致辞
			</td>
	</tr>
		
		
	<tr height="43" style="height:43px">
			<td height="43" width="72" style="border-top-style: none; " align="center" valign="middle">
				08:45-09:00
			</td>
			<td colspan="2" width="255" style="border-right-width: 1px; border-left-style: none; " align="center" valign="middle">
				光华管理学院统计系主任王汉生教授致辞
			</td>
	</tr>
		
		
	<tr height="22" style="height:22px">
			<td height="22" width="72" style="border-top-style: none; background-color: rgb(141, 179, 226); " align="center" valign="middle">
				<span style="color: rgb(255, 255, 255); ">时间</span>
			</td>
			<td width="168" style="border-top-style: none; border-left-style: none; background-color: rgb(141, 179, 226); " align="center" valign="middle">
				<span style="color: rgb(255, 255, 255); ">演讲内容</span>
			</td>
			<td width="87" style="border-top-style: none; border-left-style: none; background-color: rgb(141, 179, 226); " align="center" valign="middle">
				<span style="color: rgb(255, 255, 255); ">嘉宾</span>
			</td>
	</tr>
		
		
	<tr height="85" style="height:85px;box-sizing: border-box">
			<td height="85" width="72" style="border-top-style: none; box-sizing: border-box; " align="center" valign="middle">
				09:00-09:45
			</td>
			<td width="168" style="border-top-style: none; border-left-style: none; " align="center" valign="middle">
				The  multi-facets of a data science project to answer:how are organs formed?
			</td>
			<td width="87" style="border-top-style: none; border-left-style: none; " align="center" valign="middle">
				郁  彬
			</td>
	</tr>
		
		
	<tr height="43" style="height:43px;box-sizing: border-box">
			<td height="35" width="72" style="border-top-style: none; box-sizing: border-box; " align="center" valign="middle">
				09:45-10:30
			</td>
			<td width="168" style="border-top-style: none; border-left-style: none; " align="center" valign="middle" height="35">
				互联网的大数据实践
			</td>
			<td width="87" style="border-top-style: none; border-left-style: none; " align="center" valign="middle" height="35">
				张  潼
			</td>
	</tr>
		
		
	<tr height="43" style="height:43px">
			<td height="35" width="72" style="border-top-style: none; " align="center" valign="middle">
				10:30-10:45
			</td>
			<td colspan="2" width="255" style="border-right-width: 1px; border-left-style: none; " align="center" valign="middle" height="35">
				自由讨论&amp;休息
			</td>
	</tr>
		
		
	<tr height="43" style="height:43px">
		<td height="35" width="72" style="border-top-style: none; " align="center" valign="middle">
		10:45-11:30
		</td>
		<td width="168" style="border-top-style: none; border-left-style: none; " align="center" valign="middle" height="35">
		自然语言与知识引擎
		</td>
		<td width="87" style="border-top-style: none; border-left-style: none; " align="center" valign="middle" height="35">
		白  硕
		</td>

	</tr>
		
	<tr height="43" style="height:43px;box-sizing: border-box">
		<td width="72" style="border-top-style: none; box-sizing: border-box; " align="center" valign="middle" rowspan="2">
			<p>11:30-12:15<br></p>
		</td>
		<td width="168" style="border-top-style: none; border-left-style: none; " align="center" valign="middle" rowspan="2">
			让数据触手可及——可视分析<br style="text-align: -webkit-auto; white-space: normal; ">
		</td>
		<td width="87" style="border-top-style: none; border-left-style: none; box-sizing: border-box; " align="center" valign="middle" rowspan="2">
			袁晓如
		</td>
	</tr>
	<tr height="43" style="height:43px">
	</tr>
	<tr height="22" style="height:22px;box-sizing: border-box">
		<td colspan="3" height="22" width="327" style="box-sizing: border-box; background-color: rgb(141, 179, 226); " align="center" valign="middle">
		<span style="color: rgb(255, 255, 255); ">午餐时间</span>
		</td>
	</tr>
	<tr height="64" style="height:64px">
		<td height="64" width="72" style="border-top-style: none; " align="center" valign="middle">
			14:00-14:45
		</td>
		<td width="168" style="border-top-style: none; border-left-style: none; " align="center" valign="middle">
			用  R 语言进行高级量化投资——一个期货和期权组合的策略案例
		</td>
		<td width="87" style="border-top-style: none; border-left-style: none; " align="center" valign="middle">
			冯永昌
		</td>
	</tr>
	<tr height="43" style="height:43px">
		<td height="43" width="72" style="border-top-style: none; " align="center" valign="middle">14:45-15:30
		</td>
		<td width="168" style="border-top-style: none; border-left-style: none; " align="center" valign="middle">基于分布式架构的大数据商业建模
		</td>
		<td width="87" style="border-top-style: none; border-left-style: none; " align="center" valign="middle">苏  萌
		</td>
	</tr>
	<tr height="43" style="height:43px">
		<td height="43" width="72" style="border-top-style: none; " align="center" valign="middle">15:30-15:45
		</td>
		<td colspan="2" width="255" style="border-right-width: 1px; border-left-style: none; " align="center" valign="middle">自由讨论&amp;休息
		</td>
	</tr>
	<tr height="64" style="height:64px">
		<td height="64" width="72" style="border-top-style: none; " align="center" valign="middle">15:45-16:30
		</td>
		<td width="168" style="border-top-style: none; border-left-style: none; " align="center" valign="middle">Open  Source Comparative Spatio-temporal Dynamics
		</td>
		<td width="87" style="border-top-style: none; border-left-style: none; " align="center" valign="middle">叶信岳
		</td>
	</tr>
	<tr height="43" style="height:43px">
		<td height="43" width="72" style="border-top-style: none; " align="center" valign="middle">16:30-17:15
		</td>
		<td width="168" style="border-top-style: none; border-left-style: none; " align="center" valign="middle">网络结构数据与互联网征信
		</td>
		<td width="87" style="border-top-style: none; border-left-style: none; " align="center" valign="middle">王汉生
		</td>
	</tr>
	<tr height="22" style="height:22px;box-sizing: border-box">
		<td colspan="3" height="22" width="327" style="box-sizing: border-box; background-color: rgb(141, 179, 226); " align="center" valign="middle"><span style="color: rgb(255, 255, 255); ">第一天议程结束</span>
		</td>
	</tr>
</tbody>
</table>

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
