<p>本次中国R语言（广州）会议暨华南地区数据科学会议将由两部分组成，其中23日上下午和24日上午为R语言会议部分，而24日下午将进行融360金融数据分析大赛优秀队伍展示。</p>

<p>
  <strong>5月23日</strong>
</p>

<table class="table table-bordered">
  <tbody>
    <tr class="success">
      <th height="22" width="80">
        <p style="text-align:center;">时间</p>
      </th>
	  <th height="22" width="66">
        <p style="text-align:center;">议程</p>
      </th>
      <th height="22" width="265">
        <p style="text-align:center;">内容</p>
      </th>
      <th height="22" width="80">
        <p style="text-align:center;">嘉宾</p>
      </th>
      <th height="22" width="62">
        <p style="text-align:center;">主持人</p>
      </th>
    </tr>
	<tr>
	  <td height="22" width="80">
        <p style="text-align:center;">08:00-09:00</p>
      </td>
	  <td height="22" width="66">
        <p style="text-align:center;">签到入场</p>
      </td>
      <td colspan="3" height="22" width="407">
        <p style="text-align:center;">参会者入场</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">09:00-09:10</p>
      </td>
	  <td rowspan="6" height="22" width="66">
        <p style="text-align:center;">报告与互动探讨</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">会议致辞</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">会议组织人</p>
      </td>
      <td rowspan="3" height="22" width="62">
        <p style="text-align:center;">主持人</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">09:10-09:40</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="113">
        <p style="text-align:center;">09:40-10:10</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="113">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="113">
        <p style="text-align:center;">10:10-10:30</p>
      </td>
      <td colspan="3" height="22" width="407">
        <p style="text-align:center;">茶歇</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">10:30-11:00</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
      <td rowspan="2" height="22" width="62">
        <p style="text-align:center;">主持人</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">11:00-11:30</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr class="success">
      <td colspan="5" height="22" width="553">
        <p style="text-align:center;">午餐时间</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">13:30-14:00</p>
      </td>
	  <td rowspan="7" height="22" width="66">
        <p style="text-align:center;">报告与互动探讨</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
      <td rowspan="3" height="22" width="62">
        <p style="text-align:center;">主持人</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">14:00-14:30</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">14:30-15:00</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">15:00-15:20</p>
      </td>
      <td colspan="3" height="22" width="407">
        <p style="text-align:center;">茶歇</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">15:20-15:50</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
      <td rowspan="3" height="22" width="62">
        <p style="text-align:center;">主持人</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">15:50-16:20</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">16:20-16:50</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
	<tr class="success">
      <td colspan="5" height="22" width="553">
        <p style="text-align:center;">拍照留恋</p>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <strong>5月24日</strong>
</p>

<table class="table table-bordered">
  <tbody>
    <tr class="success">
      <th height="22" width="80">
        <p style="text-align:center;">时间</p>
      </th>
	  <th height="22" width="66">
        <p style="text-align:center;">议程</p>
      </th>
      <th height="22" width="265">
        <p style="text-align:center;">内容</p>
      </th>
      <th height="22" width="80">
        <p style="text-align:center;">嘉宾</p>
      </th>
      <th height="22" width="62">
        <p style="text-align:center;">主持人</p>
      </th>
    </tr>
	<tr>
	  <td height="22" width="80">
        <p style="text-align:center;">08:00-09:00</p>
      </td>
	  <td height="22" width="66">
        <p style="text-align:center;">签到入场</p>
      </td>
      <td colspan="3" height="22" width="407">
        <p style="text-align:center;">参会者入场</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">09:00-09:30</p>
      </td>
	  <td rowspan="6" height="22" width="66">
        <p style="text-align:center;">报告与互动探讨</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
      <td rowspan="3" height="22" width="62">
        <p style="text-align:center;">主持人</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">09:30-10:00</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="113">
        <p style="text-align:center;">10:00-10:30</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="113">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="113">
        <p style="text-align:center;">10:30-10:50</p>
      </td>
      <td colspan="3" height="22" width="407">
        <p style="text-align:center;">茶歇</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">10:50-11:20</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
      <td rowspan="2" height="22" width="62">
        <p style="text-align:center;">主持人</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">11:20-11:50</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr class="success">
      <td colspan="5" height="22" width="553">
        <p style="text-align:center;">午餐时间</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">13:30-14:00</p>
      </td>
	  <td rowspan="7" height="22" width="66">
        <p style="text-align:center;">优秀队伍展示</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">演讲主题</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
      <td rowspan="3" height="22" width="62">
        <p style="text-align:center;">主持人</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">14:00-14:20</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">比赛介绍</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">14:20-14:50</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">队伍展示</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">14:50-15:10</p>
      </td>
      <td colspan="3" height="22" width="407">
        <p style="text-align:center;">茶歇</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">15:10-15:40</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">队伍展示</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
      <td rowspan="3" height="22" width="62">
        <p style="text-align:center;">主持人</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">15:40-16:10</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">队伍展示</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
    <tr>
      <td height="22" width="80">
        <p style="text-align:center;">16:10-16:30</p>
      </td>
      <td height="22" width="265">
        <p style="text-align:center;">点评讨论</p>
      </td>
      <td height="22" width="80">
        <p style="text-align:center;">演讲者</p>
      </td>
    </tr>
  </tbody>
</table>