<p>本次中国R语言（广州）会议暨华南地区数据科学会议将由两部分组成，其中从23日上下午和24日上午为R语言会议部分，而24日下午将进行融360数据分析大赛优秀队伍展示。</p>

<p>
  <strong>5月23日</strong>
</p>

<table class="table table-bordered">
  <tbody>
    <tr class="success">
      <th width="80">
        <p align="center">时间</p>
      </th>
	  <th width="66">
        <p align="center">议程</p>
      </th>
      <th width="265">
        <p align="center">内容</p>
      </th>
      <th width="80">
        <p align="center">嘉宾</p>
      </th>
      <th width="62">
        <p align="center"><p align="center">主持人</p></p>
      </th>
    </tr>
	<tr>
	  <td width="80">
        08:00-09:00
      </td>
	  <td width="66">
        <p align="center">签到入场</p>
      </td>
      <td colspan="3" width="407">
        <p align="center">参会者入场</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        09:00-09:10
      </td>
	  <td rowspan="6" width="66">
        <p align="center">报告与互动探讨</p>
      </td>
      <td width="265">
        <p align="center">会议致辞</p>
      </td>
      <td width="80">
        <p align="center">会议组织人</p>
      </td>
      <td rowspan="3" width="62">
        <p align="center">主持人</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        09:10-09:40
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        09:40-10:10
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="113">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        10:10-10:30
      </td>
      <td colspan="3" width="407">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        10:30-11:00
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
      <td rowspan="2" width="62">
        <p align="center">主持人</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        11:00-11:30
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr class="success">
      <td colspan="4" width="553">
        <p align="center">午餐时间</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        13:30-14:00
      </td>
	  <td rowspan="7" width="66">
        <p align="center">报告与互动探讨</p>
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
      <td rowspan="3" width="62">
        <p align="center">主持人</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        14:00-14:30
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        14:30-15:00
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        15:00-15:20
      </td>
      <td colspan="3" width="407">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        15:20-15:50
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
      <td rowspan="3" width="62">
        <p align="center">主持人</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        15:50-16:20
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        16:20-16:50
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
	<tr class="success">
      <td colspan="4" width="553">
        <p align="center">拍照留恋</p>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <strong>5月24日</strong>
</p>

<table class="table table-bordered">
  <tbody>
    <tr class="success">
      <th width="80">
        <p align="center">时间</p>
      </th>
	  <th width="66">
        <p align="center">议程</p>
      </th>
      <th width="265">
        <p align="center">内容</p>
      </th>
      <th width="80">
        <p align="center">嘉宾</p>
      </th>
      <th width="62">
        <p align="center"><p align="center">主持人</p></p>
      </th>
    </tr>
	<tr>
	  <td width="80">
        08:00-09:00
      </td>
	  <td width="66">
        <p align="center">签到入场</p>
      </td>
      <td colspan="3" width="407">
        <p align="center">参会者入场</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        09:00-09:30
      </td>
	  <td rowspan="6" width="66">
        <p align="center">报告与互动探讨</p>
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
      <td rowspan="3" width="62">
        <p align="center">主持人</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        09:30-10:00
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        10:00-10:30
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="113">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr>
      <td width="113">
        10:30-10:50
      </td>
      <td colspan="3" width="407">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        10:50-11:20
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
      <td rowspan="2" width="62">
        <p align="center">主持人</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        11:20-11:50
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr class="success">
      <td colspan="4" width="553">
        <p align="center">午餐时间</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        13:30-14:00
      </td>
	  <td rowspan="7" width="66">
        <p align="center">优秀队伍展示</p>
      </td>
      <td width="265">
        <p align="center">演讲主题</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
      <td rowspan="3" width="62">
        <p align="center">主持人</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        14:00-14:20
      </td>
      <td width="265">
        <p align="center">比赛介绍</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        14:20-14:50
      </td>
      <td width="265">
        <p align="center">队伍展示</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        14:50-15:10
      </td>
      <td colspan="3" width="407">
        <p align="center">茶歇</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        15:10-15:40
      </td>
      <td width="265">
        <p align="center">队伍展示</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
      <td rowspan="3" width="62">
        <p align="center">主持人</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        15:40-16:10
      </td>
      <td width="265">
        <p align="center">队伍展示</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
    <tr>
      <td width="80">
        16:10-16:30
      </td>
      <td width="265">
        <p align="center">点评讨论</p>
      </td>
      <td width="80">
        <p align="center">演讲者</p>
      </td>
    </tr>
  </tbody>
</table>