<table>
<tbody>
    <tr class="success">
    <th style="width:4em">演讲嘉宾</th>
    <th>嘉宾介绍</th>
    <th>演讲主题</th>
  </tr>
  <tr>
    <td>刘思喆</td>    <td>现任京东商城推荐系统算法经理，主要负责Web、App、微信端用户行为分析，跟踪优化各渠道推荐效果，改进落地推荐策略。在加入京东前，供职于亚信联创BOC、神州数码思特奇DSS，主要为电信运营商提供数据挖掘及业务咨询等顾问服务。2014-2016，兼任中国人民大学大数据分析实验班硕士导师。</td>
    <td>R语言在推荐系统中的应用</td>
  </tr>
  <tr>
    <td>张云松</td>
    <td>融360风控决策总监</td>
    <td>互联网金融大数据与风险</td>
  </tr>
  <tr>
    <td>肖凯</td>
    <td>1号店商务智能部，数据挖掘工程师，《数据科学中的R语言》作者</td>
    <td>数据科学中的R语言</td>
  </tr>
  <tr>
    <td>陈丽云</td>    <td>巴塞罗那经济学研究院经济学硕士、现任eBay资深分析师，负责eBay北美地区卖家业务的客户分析、数量建模和提供数据报告等。常用的工具无非是R和SQL，常玩的数据就是eBay那堆乱糟糟的啥都有的数据，除了本职工作以外还闲来无事写写博客搞搞沙龙之类</td>
    <td>网站实验设计框架与实战</td>
  </tr>
  <tr>
    <td>任华</td>
    <td>优酷土豆集团数据分析总监</td>
    <td>一个数据分析师的入门与成长</td>
  </tr>
  <tr>
    <td>林祯舜</td>    <td>林祯舜博士是数据科学及营销科学方面的专家，毕业于人民大学统计学院并获得博士学位，在企业界，目前担任信息技术咨询公司的总经理，在学术界，目前是兰州商学院及吉林大学的兼职教授。</td>
    <td>R-web：大型多人在线数据分析协作平台</td>
  </tr>
  <tr>
    <td>李舰</td>    <td>毕业于中国人民大学统计学院（本科）和北京大学软件与微电子学院（研究生），现就职于 Mango Solutions，担任中国区数据总监，负责数据分析相关的咨询项目及公司基于R语言的产品的开发。Rweibo、Rwordseg、tmcn等R包的作者。《数据科学中的R语言》的作者，《R语言核心技术手册》的译者</td>
    <td>地理信息与基于位置的服务</td>
  </tr>
  <tr>
    <td>呼思乐</td>    <td>本科毕业于中国科学技术大学数学系，现在是中国科学院上海生命科学研究院计算生物学研究所的博士研究生。研究方向是计算生物学，统计群体遗传学，R爱好者，日常使用R作为重要的研究工具，对R的二维以及三维绘图非常熟悉，参与了”R Graphics –second edition” 一书中文版的翻译（预计于明年由人民邮电出版社出版），并翻译了书中的主要内容</td>
    <td>基于R的三维人脸绘图系统以及利用R实现三维人脸预测人的性格</td>
  </tr>
  <tr>
    <td>张兵</td>    <td>目前就职于浙江省疾病预防控制中心。毕业于华中科技大学同济医学院，研究生时期研究方向主要为环境流行病学(偏空气污染)、空间统计学和时空数据模型，现今研究方向为传染病动力学模型</td>
    <td>空气污染与R</td>
  </tr>
  <tr>
    <td>周扬</td>
    <td>J.D.POWER 数据分析师</td>
    <td>利用R与nodejs实现可视分析工具</td>
  </tr>
  <tr>
    <td>石宏飞</td>    <td>13年金融行业服务经验。精通数据架构及数据平台建设；熟悉数据治理及数据挖掘应用。现任宏源证券数据中心负责人，主要负责宏源证券数据中心的规划和项目管理</td>
    <td>客户账户分析方法：用R实现建模</td>
  </tr>
  <tr>
    <td>邓一硕</td>    <td>毕业于中央财经大学统计学专业，统计之都沙龙联合发起人，感兴趣的领域是R语言在金融投资分析中的应用。微博：dengyishuo</td>
    <td>基于R语言的投资监控平台之构建</td>
  </tr>
  <tr>
    <td>郎大为</td>
    <td>SupStat高级数据分析师，John Hopkins数据科学专项认证，有丰富的R的使用，建模，可视化的经验。擅长的领域为：非参数方法，金融数据挖掘，地理数据的可视化等</td>
    <td>dplyr包：高效数据清理</td>
  </tr>
  <tr>
    <td>杜亚磊</td>
    <td>Supstat数据分析师，baidumap包的作者。R user，偶尔用用python，awk等其他工具，也折腾过hadoop，spark。擅长数据处理，建模和可视化。</td>
    <td>绘制地图的另一个选择：baidumap</td>
  </tr>
  <tr>
    <td>张翔</td>
    <td>“在路上”旅行APP的Growth Hacker，从事数据工作多年，对互联网、移动互联网各细分领域的数据有深入的研究和实践</td>
    <td>Growth Hacker的R工具箱</td>
  </tr>
  <tr>
    <td>肖嘉敏</td>
    <td>艾瑞咨询全国产品支持中心</td>
    <td>电商数据化运营中的网站竞争分析</td>
  </tr>
  <tr>
    <td>杨环</td>
    <td>现就职于Mango Solutions (China)，担任咨询顾问。毕业于厦门大学和伦敦政治经济学院</td>
    <td>新药研发中的建模和模拟（M&amp;S）</td>
  </tr>
  <tr>
    <td>李殷皓</td>
    <td>数据分析师，供职于PayPal Seller Risk Business Intelligence Team</td>
    <td>用R + shiny + rCharts快速打造数据产品</td>
  </tr>
  <tr>
    <td>练勇强</td>
    <td>华东师范大学金融与统计学院博士生，研究方向为贝叶斯统计和可靠性统计</td>
    <td>基于rpanel包构建图形用户界面</td>
  </tr>
  </tbody>
</table>