<table>
  <tbody>
    <tr class="success">
      <th style="width:4em">演讲嘉宾</th>
      <th>嘉宾介绍</th>
      <th style="width:6em">演讲主题</th>
      <th>演讲摘要</th>
    </tr>

    <tr>
      <td>张常有</td>
      <td>张常有，工学博士，中国科学院软件研究所副研究员。长期从事高性能计算、协同计算、智能信息网络方面的研究。中国计算机学会会员（高性能计算专业委会委员、协同计算专业委员会委员、青年科学家论坛YOCSEF委员）、中国人工智能学会会员（智能信息网络专业委员会委员）、国际杂志《IEEE Transaction on Signal Processing》和《International Journal of Automation and Computing》论文匿名审稿人。</td>
      <td>Julia语言进展及面向领域的支撑环境</td>
      <td>Julia语言的语法对计算领域非常亲和，有很强的分布式高性能支持能力和数学库扩展能力。本报告第一部分介绍Julia语言的语法新特性，分享基本程序结构特征。第二部分重点阐述Julia语言对并行计算的支持能力和面向领域的工具库制作使用方法。第三部分介绍OpenBlas算法库方面的工作新进展。最后，阐述面向企业计算的高性能Julia云编程环境，示例基于深度学习的领域应用构建方法的近期尝试。</td>
    </tr>

    <tr>
      <td>陈钢</td>
      <td>陈钢，2012年在中南大学获得计算机博士学位，之后加入深圳华大基因，历任研究员、副总监、副总裁等职。2015年4月加入WeGene，致力于构建面向中国人的个人基因组解读平台。</td>
      <td>机器学习在中国人祖源成分分析中的应用</td>
      <td>以23andme、Ancestry.com为代表的美国个人基因组服务提供商利用近百万份人类基因组数据，构建起了面向全球用户的祖源成分分析系统。但在这些系统中，原本成分复杂的中国人都被抽象成了统一的Chinese。我们试图通过收集中国人的祖源信息和基因组数据，整合公共数据库，利用支持向量机、隐马尔科夫等模型构建起面向中国人的祖源成分、姓氏起源和民族成分分析系统。我们将自行收集的基因组和祖源信息跟HGDP项目的数据整合在一起，采用基因组上45万个跟祖源有密切关系的位点的基因型信息构建训练数据集。所有的位点根据其在基因组上的位置排序，划分滑动窗口。对每个窗口训练多分类支持向量机，并用隐马模型修整结果。所构建的系统已经在为用户提供祖源分析服务，并且随着训练数据的增加定期重建模型，优化分析结果。该系统主要由Go语言编写，机器学习部分采用R语言，数据库采用了MongoDB和MySQL。</td>
    </tr>

  </tbody>
</table>
