<script type="text/javascript">
  function adjustBanner() {
    $("#overview").css("background-color", "#ffffff");
  }

  $(document).ready(function() {
    var hour = new Date().getHours();
    if (hour < 12) {
      $("#overview").css({
        "background-image": "url('/gz/img/zhongda.jpg')",
        "background-position": "center top"
      });
    } else {
      $("#overview").css({
        "background-image": "url('/gz/img/zhongda.jpg')",
        "background-position": "center top"
      });
    }

    $('#overview').css({
      "background-attachment": "inherit"
    });
    //$("#overview").css({"background-size": "80% 80%"});

    //setInterval(adjustBanner, 2000);
    setTimeout(adjustBanner, 2000);
  })
</script>
