---
layout: default
---

<div id="overview">
  <nav class="navbar navbar-inverse">
    <div class="container{%if site.fluid-layout %}-fluid{%endif%}">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        {% include gz/nav.html %}
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container{%if site.fluid-layout %}-fluid{%endif%}">
  <div class="row">

    <div class="col-md-9 typo">
      <h2>{{ page.title }}</h2>
      {{ content }}
      {% include comment.html %}
    </div>

    <div class="col-md-3" id="sidebar">
    {% include gz/sidebar/sidebar.html %}
    </div>

  </div>
</div>
