---
layout: default
---

{% include banner-beijing-ruc.html %}

<header class="jumbotron subhead" id="overview">

<div class="container{%if site.fluid-layout %}-fluid{%endif%}">
<div class="row-fluid" id="banner">

 <div class="span7">
 
 <div class="hero">
   <h1>第七届中国R语言会议</h1>
   <p class="lead">
    2014年5月24～25日，北京，中国人民大学
   </p>

  </div>
 </div>
 
 <div class="span5">
  
 <div id="getting-started"></div>
    <p id="reg-btn"><a class="btn btn-primary btn-large" href="/register">报名</a></p>
 </div>
 
 </div>
 </div>
 
   
  <div class="subnav visible-desktop">
  <div class="container{%if site.fluid-layout %}-fluid{%endif%}">
    <ul class="nav nav-pills">
{% include nav.html %}
    </ul>
	</div>
  </div>
  
  <div class="select-menu hidden-desktop">
     <select></select>
  </div>
</header>

<div class="container{%if site.fluid-layout %}-fluid{%endif%}">



<div class="row-fluid">

	<div class="span9 typo typo-selection">
    
{{ content }}
	
    </div>	<!-- main end -->
	
	<div class="span3 sidebar">

	{% include sidebar/sidebar.html %}

			
	</div>	


</div>

{% include sponsors.html %}


</div>

 <script type="text/javascript">
   $('#getting-started').countdown('2014/05/24', function(event) {
     $(this).html(event.strftime('还有 '
       + '<span>%w</span> 周 '
       + '<span>%d</span> 日 '
       + '<span>%H</span> 时 '
       + '<span>%M</span> 分 '
       + '<span>%S</span> 秒开幕'));
   });
</script>