---
layout: default
---

<div id="overview">
  <div class="subnav visible-desktop">
    <ul class="nav nav-pills">
      <li class="active"><a href="/">会议主页</a></li>
      <li class=""><a href="#">参会注册</a></li>
      <li class=""><a href="#">会议通知</a></li>
      <li><a href="#">主办方介绍</a></li>
      <li><a href="#">合作伙伴</a></li>
      <li><a href="#">志愿者招募</a></li>
	  <li><a href="#">联系我们</a></li>
    </ul>
  </div>
  
  <div class="select-menu hidden-desktop">
     <select></select>
  </div>
  
  </div>

<div class="container main">

<div class="row-fluid">

	<div class="span9 typo typo-selection">
    
{{ content }}

{% include comment.html %}
	
    </div>	<!-- main end -->
	
	<div class="span3">

	{% include sidebar/sb2.html %}

			
	</div>	


</div>

{% include sponsors.html %}


</div>