	
		<aside id="text-1" class="well">
		      <h3 class="widget-title">联系我们</h3>			
		      <div class="textwidget">
				<ul>
					<li><a href="#">会务咨询</a></li>
					<li><a href="#">报名演讲</a></li>
					<li><a href="#">赞助咨询</a></li>
					<li><a href="#">会场信息</a></li>
					<li><a href="#">参会路线</a></li>
					<li><a href="#">推荐酒店</a></li>
				</ul>
			 </div>
		</aside>
		
		<aside id="text-2" class="well">
		      <h3 class="widget-title">时间安排</h3>			
		      <div class="textwidget">
				<ul>
					<li><a href="#">会务咨询</a></li>
					<li><a href="#">报名演讲</a></li>
					<li><a href="#">赞助咨询</a></li>
				</ul>
			 </div>
		</aside>
			
			<aside id="text-5" class="well">
		      <h3 class="widget-title">往届会议</h3>			
			  	<div class="textwidget">
				<ul>
					<li>2013年<a href="/2013/beijing">北京</a>，<a href="/2013/shanghai">上海</a></li>
					<li>2012年<a href="/2012/beijing">北京</a>，<a href="/2012/shanghai">上海</a></li>
					<li>2011年<a href="/2011/beijing">北京</a>，<a href="/2011/shanghai">上海</a></li>
					<li>2010年<a href="/2010/beijing">北京</a>，<a href="/2010/shanghai">上海</a></li>
					<li>2009年<a href="/2009/chinar">北京</a>，<a href="/2009/shanghai">上海</a></li>
					<li>2008年<a href="/2008/beijing">北京</a></li>
				</ul>
			 </div>
			</aside>