<aside id="sidebar-sponsors" class="well">
  <h3 class="widget-title">赞助单位</h3>
  <div class="sponsors">
    <a href="http://baidu.com/" title="百度" target="_blank">
      <img width="220" src="/img/logo-baidu.png" alt="百度">
    </a>
  </div>
</aside>
<!--
		<aside id="text-5" class="well">
			<h3 class="widget-title">赞助单位</h3>
			<div class="sponsors">
				<a href="http://supstat.com/cn" title="SupStat Inc." target="_blank"><img src="/img/logo-supstat.png" alt="SupStat Inc."></a>
			</div>
			<div class="sponsors">
				<a href="http://www.revolutionanalytics.com/" title="Revolution Analytics" target="_blank"><img src="/img/logo-revo.png" alt="Revolution Analytics"></a>
			</div>
			<div class="sponsors">
				<a href="http://rstudio.com" title="RStudio" target="_blank"><img src="/img/logo-rstudio.png" alt="RStudio"></a>
			</div>
			<div class="sponsors">
				<a href="http://www.vsnc.com.cn/" title="VSNC" target="_blank"><img src="/img/logo-vscn.jpg" alt="VSNC"></a>
			</div>
			<div class="sponsors">
				<a href="http://www.1degreenorth.com/" title="1degreenorth" target="_blank"><img src="/img/logo-1degreenorth.png" alt="1degreenorth"></a>
			</div>
		</aside>
		<aside id="text-6" class="well">
		     <h3 class="widget-title">合作单位</h3>
			<div class="sponsors">
				<a href="http://www.hzbook.com/ps/" title="华章图书" target="_blank"><img width="220" src="/img/hzbook.gif" alt="华章图书"></a>
			</div>
			<div class="sponsors">
				<a href="http://www.springer.com/" title="Springer" target="_blank"><img width="220" src="/img/logo-springer.jpg" alt="Springer"></a>
			</div>
			<div class="sponsors">
				<a href="http://www.crup.com.cn/" title="中国人民大学出版社有限公司" target="_blank"><img width="220" src="/img/logo-crup.png" alt="中国人民大学出版社有限公司"></a>
			</div>
			<div class="sponsors">
				<a href="http://www.ptpress.com.cn/" title="人民邮电出版社" target="_blank"><img width="220" src="/img/logo-ptpress.jpg" alt="人民邮电出版社"></a>
			</div>
		</aside>

		<h3>赞助单位</h3>
		<div class="row-fluid">

					<div class="span3">
						<a href="http://supstat.com/cn" title="SupStat Inc." target="_blank"><img src="/img/logo-supstat.png" alt="SupStat Inc."></a>

					</div>

					<div class="span3">
						<a href="http://www.revolutionanalytics.com/" title="Revolution Analytics" target="_blank"><img src="/img/logo-revo.png" alt="Revolution Analytics"></a>

					</div>

					<div class="span3">
						<a href="http://rstudio.com" title="RStudio" target="_blank"><img src="/img/logo-rstudio.png" alt="RStudio"></a>

			        </div>
			     		<div class="span3">
						<a href="http://www.1degreenorth.com/" target="_blank"><img src=" http://www.1degreenorth.com/sites/g/files/g937076/themes/mythemes/acq_my_theme/images/1DN_New_logo_mid.png" alt="1northdegree"></a>

					</div>
		</div>
		-->
