<aside id="sidebar-sponsors" class="well">
  <h3 class="widget-title">赞助单位</h3>
  <div class="sponsors">
    <a href="http://baidu.com/" title="百度" target="_blank">
      <img src="/img/logo-baidu.png" alt="百度">
    </a>
  </div>

  <div class="sponsors">
    <a href="http://audi.cn/" title="奥迪" target="_blank">
      <img src="/img/logo-audi.jpg" alt="奥迪">
    </a>
  </div>

  <div class="sponsors">
    <a href="" title="LEDI" target="_blank">
      <img src="/img/logo-ledi.png" alt="LEDI">
    </a>
  </div>

  <div class="sponsors">
    <a href="http://www.wquant.com/" title="微量网" target="_blank">
      <img src="/img/logo-wquant.png" alt="微量网">
    </a>
  </div>

  <div class="sponsors">
    <a href="http://www.umetrip.com/" title="航旅纵横" target="_blank">
      <img src="/img/logo-umetrip.png" alt="航旅纵横">
    </a>
  </div>

  {% comment %}
  <!-- previous sponsors
  <div class="sponsors">
    <a href="http://supstat.com/cn" title="SupStat Inc." target="_blank">
      <img src="/img/logo-supstat.png" alt="SupStat Inc.">
    </a>
  </div>
  <div class="sponsors">
    <a href="http://www.revolutionanalytics.com/" title="Revolution Analytics" target="_blank">
      <img src="/img/logo-revo.png" alt="Revolution Analytics">
    </a>
  </div>
  <div class="sponsors">
    <a href="http://rstudio.com" title="RStudio" target="_blank">
      <img src="/img/logo-rstudio.png" alt="RStudio">
    </a>
  </div>
  <div class="sponsors">
    <a href="http://www.vsnc.com.cn/" title="VSNC" target="_blank">
      <img src="/img/logo-vscn.jpg" alt="VSNC">
    </a>
  </div>
  <div class="sponsors">
    <a href="http://www.1degreenorth.com/" title="1degreenorth" target="_blank">
      <img src="/img/logo-1degreenorth.png" alt="1degreenorth">
    </a>
  </div>

  <div class="sponsors">
    <a href="http://www.hzbook.com/ps/" title="华章图书" target="_blank">
      <img src="/img/logo-hzbook.gif" alt="华章图书">
    </a>
  </div>
  <div class="sponsors">
    <a href="http://www.springer.com/" title="Springer" target="_blank">
      <img src="/img/logo-springer.jpg" alt="Springer">
    </a>
  </div>
  <div class="sponsors">
    <a href="http://www.crup.com.cn/" title="中国人民大学出版社有限公司" target="_blank">
      <img src="/img/logo-crup.png" alt="中国人民大学出版社有限公司">
    </a>
  </div>
  <div class="sponsors">
    <a href="http://www.ptpress.com.cn/" title="人民邮电出版社" target="_blank">
      <img src="/img/logo-ptpress.jpg" alt="人民邮电出版社">
    </a>
  </div>
-->
  {% endcomment %}

</aside>
